.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 23, 42, 1);
    color: #f8fafc;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
    font-size: 24px;
}

.timer {
    position: relative;
    width: 200px;
    height: 200px;
}

.timer-svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg)
        /* align ring vertically */
}

circle {
    fill: none;
    stroke-width: 6;
}

.timer-track {
    stroke: beige;
}

.timer-remaining {
    stroke: black;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    /* transition: stroke-dashoffset 1s linear, stroke 0.3s ease; */
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-family: ; */
    font-size: 1.2rem;
    font-weight: bold;
}